
ul {
    list-style-type: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

.spacing {
    padding-left: 75px;
}

.formulier-tabel {
    width: 100%;
}

.formulier-textarea {
    resize: none;
    width: 95%;
}

.formulier-button-verstuur {
}

.formulier-button-verstuur:hover {
    background-color: var(--button-hover-color);
    color: var(--button-hover-text-color);
    transition-duration: var(--hover-transition-duration);
}

@media only screen and (max-width: 400px) {
    .spacing {
        padding-left: 0px;
    }

}
