# required pip packages

# base packages
-r requirements.txt

# add-ons for dev environment:

# license check
pip-licenses-cli

# python code coverage measurement and reporting
coverage

# django template file coverage measurement
django-coverage-plugin

# for TestHelper (bs4)
beautifulsoup4

# django database access analysis for performance / efficient queries
django-debug-toolbar

# django extensions
django-extensions

# html validatie
html5validator

# verkleinen van font files
#fonttools
#brotli

# javascript/ecmascript validatie
esprima

# testing javascript inside the browser
selenium

# end of file
