.site-header-wie-ben-ik {
    display: none;
}

.account-dialog {
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    margin-top: 50px;
    border-radius: var(--dialog-box-border-radius);
    box-shadow: var(--dialog-box-shadow);
    background-color: var(--dialog-background-color);
}

.account-header {
    background-color: green;
    padding: 20px;
    text-align: center;
    font-size: 30px;
    border: var(--dialog-box-border);
    border-bottom: none;
    border-radius: var(--dialog-box-border-radius) var(--dialog-box-border-radius) 0 0;
}

.account-box-fields {
    padding: 20px;
    font-size: var(--dialog-box-font-size);
    border: var(--dialog-box-border);
    border-top: none;
    border-bottom: none;
}

.account-footers {
    border: var(--dialog-box-border);
    border-radius: 0 0 var(--dialog-box-border-radius) var(--dialog-box-border-radius);
    border-top: none;
    font-size: 14px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding-bottom: 10px;
}

.account-box-field {
    width: 100%;
    padding: 10px 0px;
}

.account-box-field #id_login_naam, .account-box-field #id_wachtwoord, .account-box-field #id_nhb_nummer, .account-box-field #id_nieuw_wachtwoord {
    width: 100%;
    margin-top: 0.25em;
    padding: 8px;
    box-sizing: border-box;
    border: var(--input-field-border);
    border-radius: var(--input-field-border-radius);
    font: var(--input-field-font);
}

.account-button-balk {
    margin-top: 10px;
    text-align: center;
}

.account-button-inner {
    padding: 10px;
    background-color: var(--button-color);
    color: var(--button-text-color);
    font: var(--button-font);
    border: var(--button-border);
    border-radius: var(--button-border-radius);
    cursor: pointer;
}

.account-button-inner:hover {
    background-color: var(--button-hover-color);
    color: var(--button-hover-text-color);
    transition-duration: var(--hover-transition-duration);
}

.error-message-table {
    color: red;
    vertical-align: top;
}

.gray-out {
    color: gray;
}

@media only screen and (max-width: 600px) {
    .account-dialog {
        margin-top: 20px;
        padding: 4px;
    }
    .account-footers {
        flex-direction: column;
        margin-top: 10px;
    }
    .account-button-inner {
        width: 100%;
    }
}

@media only screen and (max-width: 400px) {
    .account-dialog {
        width: 100%;
    }
}
