// Remove Focus Boxes
select:focus {
  outline: $select-focus;
}

button:focus {
  outline: 2px solid black;   // keep in sync with btn:focus in _buttons.scss and btn-sv-keuze:focus in sv-post.scss
}

// note: do not use the same focus effects as for hover --> it is confusing because focus sticks after click!

// only on devices that support a real mouse-like primary input device, support hover effects (not on touch devices)
@media (hover: hover) {
  button:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 25%), rgba(0, 0, 0, 25%)); // make darker for any color
  }
}


label {
  font-size: $label-font-size;
  color: $input-border-color;
}

@import 'input-fields';
@import 'radio-buttons';
@import 'checkboxes';
@import 'switches';
@import 'select';
@import 'file-input';
@import 'range';
