{% extends "admin/base.html" %}

{% block title %}Admin Site{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block welcome-msg %}{% endblock %}
{% block userlinks %}
    <a href="{{ site_url }}">Terug naar de site</a>
    {% include "admin/color_theme_toggle.html" %}
{% endblock %}

{% block content_title %}{% endblock %}

{% block nav-global %}{% endblock %}

<!-- extra styling voor de admin site -->
{% block extrahead %}
    <style>
    :root {
        --accent: white;
        --primary: #03628c;
        --secondary: #055070; <!-- #0aa0e1; -->
        --font-family-primary: 'Helvetica';
        font-size: 18px;
    }
    ::selection {
        color:white;
        background-color:#03628c;
    }
    </style>
{% endblock %}
