# required pip packages

# base packages
-r requirements_test.txt

# add-ons for dev environment:

# license check
pip_licenses

# update check
pip_review

# python code coverage measurement and reporting
coverage

# for Overig.e2ehelper
beautifulsoup4

# django database access analysis for performance / efficient queries
Django-debug-toolbar

# end of file

